# Node
node_modules/

# Build
build/

# Firebase
.firebase/

# Secrets
*.json
!package.json
!package-lock.json

# Logs
*.log

# Python
__pycache__/
*.pyc

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/

# Optional
dataset/
unauthorized/
